.autoskipper_button {
	color : #000;
	background : rgba(255, 255, 255, 0.7);
	border : .1em solid rgba(0, 0, 0, 0.8);
	border-radius : 10px;
	position : fixed;
	right : 5%;
	bottom : 10%;
	padding : 0.6em 1.4em;
	font-family : Helvetica, Arial;
	font-size : 1.5em;
	font-weight: bold;
	float: right;
	z-index: 999999999;
	margin: 0;
}

.autoskipper_button:hover {
	background : rgba(255, 255, 255, 0.9); 
	cursor: pointer;
}